name: powershell-preview

on:
  push:
    branches:
      - main
    paths:
      - 'powershell-preview/**'
  pull_request:
    branches: main
    paths:
      - 'powershell-preview/**'
  workflow_dispatch:
    inputs:
      scheduled-run:
        description: 'Run as if triggered by schedule (enables notifications and publishing checks)'
        required: false
        type: boolean
        default: false

jobs:
  needs-store-publishing:
    uses: ./.github/workflows/template-scheduler-needs-publishing.yaml
    with:
      release: 'preview'
      enable-mattermost-notifications: ${{ inputs.scheduled-run }}
    secrets:
      MATTERMOST_WEBHOOK_URL: ${{ secrets.MATTERMOST_WEBHOOK_URL }}
  build:
    uses: ./.github/workflows/template-build.yaml
    with:
      release: 'preview'
    needs: needs-store-publishing
    if: ${{ !(inputs.scheduled-run && needs.needs-store-publishing.outputs.needs-publishing == 'false') }}
  test:
    uses: ./.github/workflows/template-test.yaml
    needs: build
    with:
      release: 'preview'
  publish:
    uses: ./.github/workflows/template-publish.yaml
    needs: test
    if: ${{ contains(fromJSON('["push", "workflow_dispatch"]'), github.event_name) && github.ref_name == 'main' }}
    with:
      release: 'preview'
    secrets:
      SNAP_STORE_TOKEN: ${{ secrets.SNAP_STORE_TOKEN }}
