name: powershell-preview-scheduler

on:
  schedule:
    - cron: '0 0,12 * * 1-5'
  workflow_dispatch:

env:
  SNAP_NAME: powershell-preview
  SNAP_DIR: powershell-preview

jobs:
  needs-store-publishing:
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
      - uses: actions/checkout@v4
        id: checkout
      - name: check if needs publishing
        id: check
        shell: bash
        run: |
          if ! ./eng/compare-store-buildinfo-versions.py --snap-name $SNAP_NAME --snap-channel latest/edge --buildinfo-url $(cat ${SNAP_DIR}/buildinfo-url); then
            echo "No changes to publish"
            exit 1
          fi
  build:
    uses: ./.github/workflows/template-build.yaml
    needs: needs-store-publishing
    if: ${{ needs.needs-store-publishing.result == 'success' }}
    with:
      release: 'preview'
  publish:
    uses: ./.github/workflows/template-publish.yaml
    needs: build
    with:
      release: 'preview'
