name: Publish PowerShell Snaps

on:
  workflow_call:
    inputs:
      release:
        required: true
        type: string
    secrets:
      SNAP_STORE_TOKEN:
        required: true

jobs:
  publish:
    strategy:
      matrix:
        architecture: [amd64, arm64, s390x, ppc64el]
    runs-on: ubuntu-latest
    continue-on-error: true
    environment:
      name: ${{ inputs.release }}
    steps:
    - uses: actions/checkout@v4
      id: checkout
    - name: Publish PowerShell Snaps
      id: publish
      uses: ./.github/actions/publish-powershell-snap
      with:
        release: ${{ inputs.release }}
        architecture: ${{ matrix.architecture }}
        store-token: ${{ secrets.SNAP_STORE_TOKEN }}
